@import url(../css/common/reset.css);
@import url(../css/common/index_header.css);

/* container */

@import url(../css/index_cons/aboutCon.css);
@import url(../css/index_cons/workCon.css);
@import url(../css/index_cons/contactCon.css);

#wrap {
  width: 100%;
  height: auto;

  font-family: 'Noto Sans KR', sans-serif;
}

/* classList class */

.invertClass {
  color: var(--main-text-color) !important;
}

.headerBackgroundColor {
  background-color: rgba(255, 255, 255, 0.24);
}

.on {
  color: var(--point-text-color) !important;
  font-weight: bold !important;
}

.itemsBackgroundOn {
  background-color: var(--point-text-color) !important;
}
