@font-face {
  font-family: 'areminiscentsmile';
  src: url(../../fonts/areminiscentsmile-Regular.ttf);
}
@font-face {
  font-family: 'NewYork';
  src: url(../../fonts/NewYork\ PERSONAL\ USE.otf);
}
