.about-container {
  width: 100%;
  height: 100vh;
  padding: 0 9.375rem;
  box-sizing: border-box;
  background: url(../../img/common/background_img.png) no-repeat 50% / cover;
}

.about-container .inner-about-container {
  width: 100%;
  height: auto;
}

.about-container .inner-about-container .sec-con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.about-container .inner-about-container .sec-con .left-con {
  flex: 0 1 50%;
  position: relative;
}

.about-container .inner-about-container .sec-con .left-con .title {
  position: absolute;
  z-index: 5;
}

.about-container .inner-about-container .sec-con .left-con .title h1 {
  z-index: 1;
  width: 100%;
  height: auto;

  font-family: 'NewYork';

  letter-spacing: 5px;
  font-size: 62px;
  color: var(--main-text-color);

  padding-top: 8.75rem;
  line-height: 62px;
  font-weight: normal;
}

.about-container .inner-about-container .sec-con .left-con .title span {
  font-size: 72px;
  line-height: 72px;
  color: var(--point-text-color);
  letter-spacing: 5px;
}
.about-container .inner-about-container .sec-con .left-con .my-persona {
  width: 100%;
  max-width: 21.875rem;
  height: auto;

  position: absolute;
  top: 12.5rem;
  left: 10.625rem;
  z-index: 2;
}
.about-container .inner-about-container .sec-con .left-con .bg_img {
  width: 100%;
  max-width: 25rem;

  position: absolute;
  top: 250px;
}

.about-container .inner-about-container .sec-con .right-con {
  flex: 0 1 50%;
  height: auto;
  /* border: 1px solid; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-container .inner-about-container .sec-con .right-con .top-con {
  width: 100%;
  height: auto;
  padding-top: 300px;

  display: flex;
  justify-content: flex-start;

  /* border: 1px solid; */
}

.about-container .inner-about-container .sec-con .right-con .top-con .about-list-box {
  padding-right: 60px;
}
.about-container .inner-about-container .sec-con .right-con .top-con .about-list-box p {
  font-size: 24px;
  /* font-family: 'NewYork'; */

  color: var(--point-text-color);
}

.about-container .inner-about-container .sec-con .right-con .top-con .about-contents-box p {
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--main-text-color);
  font-weight: 300;
  padding: 3px 0;
}

.about-container .inner-about-container .sec-con .right-con .bottom-con {
  width: 100%;
  height: auto;
}

.about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title {
  padding-top: 200px;
}
.about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title > p {
  font-size: 70px;
  color: white;
  font-family: 'NewYork';
  text-align: end;
}

/*태블릿------------------------------------------*/
@media only screen and (max-width: 960px) {
  .about-container {
    padding: 25% 3.125rem;
    background: url(../../img/common/background_img.png) no-repeat 100% / cover;
  }

  .about-container .inner-about-container .sec-con .left-con {
    flex: 0 1 50%;
  }

  .about-container .inner-about-container .sec-con .left-con .title h1 {
    font-size: 42px;
    padding-top: 8.75rem;
    line-height: 42px;
  }
  .about-container .inner-about-container .sec-con .left-con .title span {
    font-size: 48px;
    line-height: 48px;
  }
  .about-container .inner-about-container .sec-con .left-con .my-persona {
    max-width: 18.75rem;

    top: 12.5rem;
    left: 6.25rem;
  }
  .about-container .inner-about-container .sec-con .left-con .bg_img {
    max-width: 18.75rem;

    top: 250px;
  }

  .about-container .inner-about-container .sec-con .right-con {
    flex: 0 1 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-container .inner-about-container .sec-con .right-con .top-con {
    width: 100%;
    height: auto;
    padding-top: 300px;

    display: flex;
    justify-content: flex-start;

    /* border: 1px solid; */
  }

  .about-container .inner-about-container .sec-con .right-con .top-con .about-list-box {
    padding-right: 40px;
  }
  .about-container .inner-about-container .sec-con .right-con .top-con .about-list-box p {
    font-size: 24px;
  }

  .about-container .inner-about-container .sec-con .right-con .top-con .about-contents-box p {
    font-size: 18px;

    font-weight: 400;
    padding: 5px 0;
  }

  .about-container .inner-about-container .sec-con .right-con .bottom-con {
    width: 100%;
    height: auto;
  }

  .about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title {
    padding-top: 200px;
  }
  .about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title > p {
    font-size: 60px;
  }
}

/*모바일*/
@media only screen and (max-width: 768px) {
  .about-container {
    padding: 0 5px;
    background: url(../../img/common/background_img.png) no-repeat 100% / cover;
  }

  .about-container .inner-about-container .sec-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-container .inner-about-container .sec-con .left-con {
    flex: 0 1 50%;
    border: 1px solid;
  }

  .about-container .inner-about-container .sec-con .left-con .title h1 {
    font-size: 32px;
    padding-top: 8.75rem;
    line-height: 32px;
  }
  .about-container .inner-about-container .sec-con .left-con .title span {
    font-size: 36px;
    line-height: 36px;
  }
  .about-container .inner-about-container .sec-con .left-con .my-persona {
    max-width: 150px;

    top: 12.5rem;
    left: 3.125em;
  }
  .about-container .inner-about-container .sec-con .left-con .bg_img {
    max-width: 150px;
    top: 100px;
    right: 10px;
  }

  .about-container .inner-about-container .sec-con .right-con {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-container .inner-about-container .sec-con .right-con .top-con {
    width: 100%;
    height: auto;
    padding-top: 450px;

    display: flex;
    justify-content: flex-start;
  }

  .about-container .inner-about-container .sec-con .right-con .top-con .about-list-box {
    padding-right: 20px;
  }
  .about-container .inner-about-container .sec-con .right-con .top-con .about-list-box p {
    font-size: 16px;
  }

  .about-container .inner-about-container .sec-con .right-con .top-con .about-contents-box p {
    font-size: 14px;

    font-weight: 400;
    padding: 2px 0;
  }

  .about-container .inner-about-container .sec-con .right-con .bottom-con {
    width: 100%;
    height: auto;
  }

  .about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title {
    padding: 50px 0;
  }
  .about-container .inner-about-container .sec-con .right-con .bottom-con .bottom-title > p {
    font-size: 32px;
    text-align: center;
  }
}
