.contact-container {
  width: 100%;
  height: 100vh;

  background: url(../../img/common/background_img.png) no-repeat 50% / cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-container .inner-contact-container {
  /* width: 100%; */
  height: auto;
  padding: 0 9.375rem;
  box-sizing: border-box;

  flex: 0 0 100%;

  display: flex;
  align-items: center;
}

.contact-container .inner-contact-container .sec-con {
  width: 100%;
  height: auto;
}
.contact-container .inner-contact-container .sec-con .contact-con-box {
  width: 100%;
  height: auto;
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul {
  width: 100%;
  height: auto;
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li {
  text-align: center;
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title {
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 {
  width: 100%;
  height: auto;
  font-size: 72px;
  font-family: 'NewYork';
  color: var(--main-text-color);

  font-weight: lighter;
  line-height: 3.875rem;
  letter-spacing: 5px;

  /* border: 1px solid; */
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 > span.point {
  color: var(--point-text-color);
  font-size: 72px;
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks {
  width: 100%;
  height: auto;
  font-weight: 500;
  color: var(--main-text-color);

  padding: 3.125rem 0;

  /* border: 1px solid; */
}
.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks p::after {
  content: '😀';
  display: inline;
  padding-left: 5px;
}

.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email {
  width: 100%;
  max-width: 18.125rem;
  padding: 1.875rem 0;
  text-align: start;
  margin: 0 auto;
}

.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email a {
  transition: all 0.1s;
}

.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email a:hover {
  font-weight: bold;
}

.contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.icon {
  width: 45px;
  height: auto;
  margin: 0 auto;
}

/* footer */
.contact-container .footer {
  width: 100%;
  height: auto;
  background-color: var(--main-text-color);
}
.contact-container .footer .inner-footer {
}

.contact-container .footer .inner-footer > p {
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: center;
  color: white;

  line-height: 30px;
}

/*태블릿*/
@media only screen and (max-width: 960px) {
  .contact-container {
    background: url(../../img/common/background_img.png) no-repeat 100% / cover;
  }

  .contact-container .inner-contact-container {
    height: auto;
    padding: 0 9.375rem;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 {
    font-size: 42px;

    font-weight: lighter;
    line-height: 42px;

    /* border: 1px solid; */
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 > span.point {
    font-size: 42px;
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks {
    width: 100%;
    height: auto;
    font-weight: 500;
    color: var(--main-text-color);

    padding: 3.125rem 0;

    /* border: 1px solid; */
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks p::after {
    content: '😀';
    display: inline;
    padding-left: 5px;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email {
    width: 100%;
    max-width: 18.125rem;
    padding: 1.875rem 0;
    text-align: start;
    margin: 0 auto;
  }
}

/*모바일*/
@media only screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
    height: 100vh;

    background: url(../../img/common/background_img.png) no-repeat 100% / cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-container .inner-contact-container {
    /* width: 100%; */
    height: auto;
    padding: 0 5%;
    box-sizing: border-box;

    flex: 0 0 100%;

    display: flex;
    align-items: center;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 {
    font-size: 42px;
    line-height: 42px;
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.title > h1 > span.point {
    font-size: 42px;
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks {
    width: 100%;
    height: auto;
    font-weight: 500;

    padding: 10% 0;
  }
  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.thanks p::after {
    content: '😀';
    display: inline;
    padding-left: 5px;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email {
    width: 100%;
    max-width: 18.125rem;
    padding: 5% 0;
    text-align: center;
    margin: 0 auto;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.email a {
    transition: all 0.1s;
    font-size: 14px;
  }

  .contact-container .inner-contact-container .sec-con .contact-con-box > ul > li.icon {
    width: 35px;
    height: auto;
    margin: 0 auto;
  }

  /* footer */
  .contact-container .footer .inner-footer > p {
    font-size: 10px;
  }
}
