.work-container {
  width: 100%;
  height: 100vh;
}

.work-container .inner-work-container {
  width: 100%;
  height: auto;
  /* padding: 0 9.375rem; */
}

.work-container .inner-work-container .sec-con {
  width: 100%;
  /* max-width: 1920px; */
  height: 100vh;
  display: flex;
  justify-content: space-between;
  border: 0px solid;

  position: relative;
  margin: 0 auto;

  overflow: hidden;
}

.work-container .inner-work-container .sec-con .work-gallery {
  width: 400%;
  height: 100vh;
  border: 0px solid;

  position: absolute;
  left: 0;

  transition: left 0.4s;
}

.work-container .inner-work-container .sec-con .work-gallery > ul {
  display: flex;
  justify-content: space-between;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li {
  width: 100%;
  height: 100vh;

  flex: 1;
  border: 0px solid;
  display: flex;
  justify-content: space-between;

  padding: 0 9.375rem;
  box-sizing: border-box;
  padding-top: 9.375rem;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con {
  flex: 0 1 40%;
  height: auto;
  border: 0px solid;

  padding-left: 3.75rem;
  box-sizing: border-box;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title {
  width: 100%;
  height: auto;
  border: 0px solid;
  font-family: 'NewYork';
  line-height: 3.875rem;
  letter-spacing: 5px;

  padding: 5rem 0;
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p {
  font-size: 62px;
  color: var(--main-text-color);
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p.pointText,
span.num {
  color: var(--point-text-color);
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p span.num {
  font-size: 72px;
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box {
  width: 100%;
  height: auto;
  border: 0px solid;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul {
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li {
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(1) p {
  font-size: 32px;
  font-weight: 400;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(2) p {
  font-weight: 700;
  font-size: 18px;
  padding: 0.5555rem 0;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(2) p::after {
  content: '😉';
  display: inline-block;
  padding-left: 0.2777rem;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(n + 3) {
  /* text-indent: 5px; */
  padding: 0.625rem 0;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn {
  width: 100%;
  max-width: 12.5rem;
  height: 3.125rem;
  text-align: center;
  margin: 1.25rem 0.3125rem;

  border-radius: 30px;
  background-color: var(--point-text-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 0.4s;
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn a.goBtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 3.125rem;
  display: block;

  letter-spacing: -1px;
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn:hover {
  animation-name: goSiteBtn;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  background-color: var(--main-text-color);
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn a:hover {
  color: aliceblue;
}

@keyframes goSiteBtn {
  0% {
    transform: translateX(2px);
  }

  15% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(4px);
  }

  45% {
    transform: translateX(7px);
  }

  70% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes goSiteBtn {
  0% {
    transform: translateX(2px);
  }

  15% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(4px);
  }

  45% {
    transform: translateX(7px);
  }

  70% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-moz-keyframes goSiteBtn {
  0% {
    transform: translateX(2px);
  }

  15% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(4px);
  }

  45% {
    transform: translateX(7px);
  }

  70% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* right-con */

.work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con {
  flex: 0 1 60%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid; */
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con .work-img-box {
  width: 100%;
  max-width: 43.75rem;
  height: 700px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid; */
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con .work-img-box img {
  border-radius: 10px;
  transition: filter 0.5s;
  filter: grayscale(1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con .work-img-box img:hover {
  filter: grayscale(0);
}
.work-container .inner-work-container .sec-con .work-gallery > ul > li.naverWebtoon .right-con .work-img-box img {
  transform: translateY(850px);
}

.work-container .inner-work-container .sec-con .work-gallery > ul > li.naverWebtoon .right-con .work-img-box img:hover {
  animation-name: scrollImg;
  animation-duration: 7s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes scrollImg {
  from {
    transform: translateY(850px);
  }
  to {
    transform: translateY(-800px);
  }
}

.work-container .inner-work-container .sec-con .work-arrow {
  width: 100%;
  height: auto;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  padding: 0 100px;
  box-sizing: border-box;
}

.work-container .inner-work-container .sec-con .work-arrow span.arrow {
  display: block;
  width: 30px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.work-container .inner-work-container .sec-con .work-arrow span.arrow.left {
  background: url(../../img/index/work/arrow_left.png) no-repeat 50% / cover;
}
.work-container .inner-work-container .sec-con .work-arrow span.arrow.right {
  background: url(../../img/index/work/arrow_right.png) no-repeat 50% / cover;
}

/*태블릿----------------------*/
@media only screen and (max-width: 960px) {
  .work-container .inner-work-container {
    width: 100%;
    height: auto;
    /* padding: 0 9.375rem; */
  }

  .work-container .inner-work-container .sec-con {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    position: relative;
    margin: 0 auto;

    overflow: hidden;
  }

  .work-container .inner-work-container .sec-con .work-gallery {
    width: 400%;
    height: 100vh;

    position: absolute;
    left: 0;

    transition: left 0.4s;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul {
    display: flex;
    justify-content: space-between;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li {
    width: 100%;
    height: 100vh;

    flex: 1;
    display: flex;
    justify-content: space-between;

    padding: 0 0.625rem;
    box-sizing: border-box;
    padding-top: 9.375rem;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con {
    flex: 0 1 40%;
    height: auto;
    padding: 15% 0;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title {
    line-height: 42px;
    letter-spacing: 5px;

    padding: 2.5rem 0;
    text-align: center;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p {
    font-size: 42px;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p.pointText,
  span.num {
    font-weight: bold;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p span.num {
    font-size: 42px;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box {
    width: 100%;
    height: auto;
    border: 0px solid;

    text-align: center;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(1) p {
    font-size: 22px;
    font-weight: 400;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(2) p {
    font-weight: 700;
    font-size: 16px;
    padding: 0.5555rem 0;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(2) p::after {
    content: '😉';
    display: inline-block;
    padding-left: 0.2777rem;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(n + 3) {
    padding: 0.625rem 0;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn {
    width: 100%;
    max-width: 150px;
    height: 3.125rem;
    margin: 1.25rem auto;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn a.goBtn {
    font-size: 16px;
    font-weight: 700;
    line-height: 3.125rem;
  }

  /* right-con */

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con {
    flex: 0 1 60%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
    box-sizing: border-box;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con .work-img-box {
    width: 100%;
    max-width: 43.75rem;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li.naverWebtoon .right-con .work-img-box img {
    transform: translateY(0px);
  }

  @keyframes scrollImg {
    from {
      transform: translateY(425px);
    }
    to {
      transform: translateY(-400px);
    }
  }

  .work-container .inner-work-container .sec-con .work-arrow {
    padding: 0 25px;
  }

  .work-container .inner-work-container .sec-con .work-arrow span.arrow {
    width: 20px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
  }
}

/*모바일*/
@media only screen and (max-width: 768px) {
  .work-container .inner-work-container {
    width: 100%;
    height: auto;
    /* padding: 0 9.375rem; */
  }

  .work-container .inner-work-container .sec-con {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    position: relative;
    margin: 0 auto;

    overflow: hidden;
  }

  .work-container .inner-work-container .sec-con .work-gallery {
    width: 400%;
    height: 100vh;

    position: absolute;
    left: 0;

    transition: left 0.4s;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul {
    display: flex;
    justify-content: space-between;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li {
    width: 100%;
    height: 100vh;

    flex: 1;
    display: flex;
    justify-content: space-between;

    padding: 0 0.625rem;
    padding-top: 0;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con {
    flex: 0 1 40%;
    height: auto;
    padding: 25% 0;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title {
    line-height: 24px;
    letter-spacing: 5px;

    padding: 2.5rem 0;
    text-align: center;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p {
    font-size: 24px;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-title > p span.num {
    font-size: 24px;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(1) p {
    font-size: 16px;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(2) p {
    font-size: 14px;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .work-text-box > ul > li:nth-child(n + 3) {
    padding: 0.625rem 0;
    font-size: 12px;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn {
    width: 100%;
    max-width: 120px;
    height: 3.125rem;
    margin: 1.25rem auto;
  }
  .work-container .inner-work-container .sec-con .work-gallery > ul > li .left-con .go-site-btn a.goBtn {
    font-size: 12px;
    font-weight: 700;
    line-height: 3.125rem;
  }

  /* right-con */

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con {
    flex: 0 1 60%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5px;
    box-sizing: border-box;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li .right-con .work-img-box {
    width: 100%;
    max-width: auto;
    height: auto;
    overflow: auto;
  }

  .work-container .inner-work-container .sec-con .work-gallery > ul > li.naverWebtoon .right-con .work-img-box img {
    transform: translateY(0px);
  }

  @keyframes scrollImg {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(0);
    }
  }

  .work-container .inner-work-container .sec-con .work-arrow {
    padding: 0 10px;
  }

  .work-container .inner-work-container .sec-con .work-arrow span.arrow {
    width: 20px;
    height: 40px;
  }
}
